<!doctype html>
<html lang="{{ .Language }}">
<head itemscope itemtype="{{ .Site.BaseURL }}">
    {{- partial "_head.html" . -}}

    {{ if not .Site.IsServer }}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ .Site.Params.googleTagManagerId }}');</script>
    <!-- End Google Tag Manager -->
    {{ end }}

    {{ $title := .Site.Title | default "V.E.V." }}
    <title>{{ $title }}</title>
    <meta property="og:title" content="{{ $title }}"/>
    <meta name="twitter:title" content="{{ $title }}"/>
    <meta itemprop="name" content="{{ $title }}"/>
    <meta name="application-name" content="{{ $title }}"/>
    <meta property="og:site_name" content="{{ .Site.Title }}"/>

    {{ $desc := .Site.Params.description }}
    <meta name="description" content="{{ $desc }}"/>
    <meta itemprop="description" content="{{ $desc }}"/>
    <meta property="og:description" content="{{ $desc }}"/>
    <meta name="twitter:description" content="{{ $desc }}"/>

    {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS $options | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

    <script src="/js/script.js"></script></head>
</head>
<body>
{{ if not .Site.IsServer }}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ .Site.Params.googleTagManagerId }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{ end }}

{{- partial "_header.html" . -}}

<main>
<section>
    <h2>IT и Digital</h2>
    {{ range .Site.Sections }}
        <article>
            <header>
                <a href="{{ .Permalink }}" class="course-list-title">{{ .Title }}</a>
            </header>
            <div class="latest">
                <ol>
                    {{ range (first 5 (where .Site.RegularPages "Section" "php" | shuffle)) }}
                    {{ if not .Params.hidden }}
                    <li><a href="{{ printf "%s/%s/" .Site.Params.storageMedia .Params.code }}" class="course-link">{{ .Title }}</a></li>
                    {{ end }}
                    {{ end }}
                </ol>
            </div>
            <footer>
                <a href="{{ .Permalink }}">Смотреть все</a>
            </footer>
        </article>
    {{ end }}
    <article class="hidden">
        <header>
            <a href="/python/" class="course-list-title">Курсы по Python</a>
        </header>
        <div class="latest">
            <ol>
                <li>
                    <a href="#"></a>
                </li>
            </ol>
        </div>
        <footer>
            <a href="/python/">Смотреть все</a>
        </footer>
    </article>
    <article class="hidden">
        <header>
            <a href="/golang/" class="course-list-title">Курсы по Go</a>
        </header>
        <div class="latest">
            <ol>
                <li>
                    <a href="#"></a>
                </li>
            </ol>
        </div>
        <footer>
            <a href="/golang/">Смотреть все</a>
        </footer>
    </article>
</section>
</main>

{{- partial "_footer.html" . -}}

</body>
</html>
